<div class="card mt-5">
  <div class="card-header">REGISTRATE AQUI</div>
  <div class="card-body">
    <form class="row g-3">
        <div class="col-md-4">
          <label for="validationServer01" class="form-label">NOMBRE</label>
          <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServer02" class="form-label">APELLIDO</label>
          <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationServerUsername" class="form-label">USUARIO</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend3">UTM</span>
            <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
              Por favor, Ingrese Su Matricula.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationServer03" class="form-label">CIUDAD</label>
          <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Por Favor, Ingrese Una Ciudad Válida.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer04" class="form-label">ESTADO</label>
          <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
          <div id="validationServer04Feedback" class="invalid-feedback">
            Seleccione Un Estado Válido.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationServer05" class="form-label">C.P.</label>
          <input type="text" class="form-control is-invalid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
          <div id="validationServer05Feedback" class="invalid-feedback">
            Por Favor, Ingrese su Codigo Postal.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
            <label class="form-check-label" for="invalidCheck3">
              Acepto Los Términos y Condiciones
            </label>
            <div id="invalidCheck3Feedback" class="invalid-feedback">
              Antes De Enviar, Verifique Que Sus Datos Esten Correctamente.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">ENVIAR</button>
        </div>
      </form>
  </div>
</div>

<b>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">EDAD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Brandon</td>
        <td>Luna</td>
        <td>21</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Paco</td>
        <td>Juarez</td>
        <td>23</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Luis</td>
        <td>Perez</td>
        <td>25</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Pablo</td>
        <td>Hernandez</td>
        <td>29</td>
      </tr>
    </tbody>
  </table>
</b>
